
body section{
  height: 300px;
  border: 2px solid blue;
}



img{
  width: 30%;
  height: 100%;
}

body{
  width: 960px;
}

body li{
  letter-spacing: 3px;
  font-size: 200%;
  font-family: Times serif;

}

canvas{
  float:right;
  font-size: 300%;
}
